.viewport {
  @apply flex justify-center;
}

.viewport > div {
  overflow: hidden;
  position: relative;
  @apply max-w-xs mt-4;
  height: calc(theme("maxWidth.xs") * 1.6);
  width: calc(theme("maxWidth.xs"));
  @apply bg-green-100;
}

.border {
  border: 2px solid theme("colors.gray.600");
  box-sizing: border-box;
}

.center {
  @apply flex justify-center items-center;
}

.root {
  @apply bg-red-400;
}

.backdrop {
  background-color: inherit;
  position: absolute;
  top: 0;
  @apply w-full h-full;
  composes: border;
}

.container {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  @apply w-full h-12;
  composes: border center;
}

.containerLeft {
  composes: container;
  @apply h-full w-12;
}
