.root {
  @apply bg-red-400;
}

.backdrop {
  background-color: inherit;
  position: absolute;
  top: 0;
  @apply w-full h-full;
  @apply z-10;
}

.container {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  @apply w-full h-12;
  @apply flex justify-between items-center;
  @apply z-20;
}

.container > * {
  @apply p-2;
}

.main {
  @apply absolute w-full h-full;
  @apply flex justify-center items-center;
}

@screen sm {
  .backdrop {
    transform: translateY(calc(-100% + theme("spacing.12"))) !important;
  }
}
