.center {
  @apply flex justify-center items-center;
}

.root {
  @apply bg-red-400;
}

.backdrop {
  background-color: inherit;
  position: absolute;
  top: 0;
  @apply w-full h-full;
  @apply z-10;
}

.container {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  @apply w-full h-12;
  @apply flex justify-between items-center;
  @apply z-20;
}

.container > * {
  @apply p-2;
}

.menu {
  @apply z-30;
}

.navMobile {
  @apply w-full h-full;
  @apply fixed inset-0;
  @apply flex flex-col;
  @apply justify-center items-center;
}

.navMobile > * + * {
  @apply mt-4;
}

.navDesktop {
  @apply hidden;
}

.main {
  @apply absolute w-full h-full;
  composes: center;
}

@screen sm {
  .navMobile,
  .menu {
    @apply hidden;
  }

  .navDesktop {
    @apply block;
  }
  .navDesktop > *:not(:last-child) {
    @apply mr-4;
  }
}
